/* Existing styles for .navigation-bar, .nav-link, etc. remain unchanged */

/* Styles for the "Study Note" branding modifications */
.brand-logo {
  display: flex;
  align-items: center;
  color: #007bff; /* Example primary color */
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.brand-logo img {
  max-height: 40px; /* Adjust based on your logo's size */
  margin-right: 10px;
}

/* If you're using text instead of an image */
.brand-logo span.study {
  color: #007bff; /* Primary color */
}

.brand-logo span.note {
  color: #FFA500; /* Secondary color, for contrast */
}

.action-button {
  background-color: #e6eaee23; /* Default background color */
  color: #ffffff54;
  padding: 10px 20px;
  margin-left: 10px; /* Space between action buttons */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.action-button.login {
  background-color: #28a745; /* Green background for login for distinction */
}

.action-button:hover {
  opacity: 0.8;
}

/* Styles for dropdown menu under "Courses" */
.Courses {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.Courses:hover .dropdown-content {
  display: block;
}

/* Styles for dropdown menu under "Bootcamp" */
.Bootcamp {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.Bootcamp:hover .dropdown-content {
  display: block;
}

/* Styles for dropdown menu under "RoadMaps" */
.RoadMaps {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.RoadMaps:hover .dropdown-content {
  display: block;
}

/* Styles for dropdown menu under "More" */
.more {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.more:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #ddd;
}
